@media (min-width: 768px) {
    .split {
        display: flex;
        justify-content: space-between;
    }
}


@media (max-width: 768px) {
    .split {
    }
    .imageContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}